*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
}

.navbar{
  display: flex;
  align-items: center;
  padding: 15px;
}
#menu-icon{
  width: 20PX;
  margin-left: 20PX;
  display: none;
}

nav{
  flex: 1;
  text-align: right;  
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #555;
}
p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
}
.col-2 h1{
  font-size: 50px;
  margin: 25px 0;
  line-height: 50px;
}
.btn{
  display: inline-block;
  background:#ff533b ;
  color: #fff;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.5s;
}
header .row{
   margin-top:30px ;
}
.btn:hover{
 background: #563434;
 /* transform: scale(1.2); */
  }
.catagories{
  margin: 50px 0;
}
.catagories h2{
  text-align: center;
  padding: 20px 0;
  color: #ff533b;
  font-weight: bolder;
  font-size: 2rem;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
   max-width: 1080px;
   margin:auto;
   padding-left: 25px;
   padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: 0.5s;
}

.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 10px 0;
  line-height: 50px;
  color: #555;
  font-size: 2rem;
  position: relative;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 10%;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.fas{
  color: #ff533b;
}
.col-4:hover{
  transform: translateY(-5px);
}
/* offer  */
.offer{
  background:radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 50px 0;
  
}
.col-2 .offer-img{
  padding: 80px;
}
small{
  color: #555;
}
.testimonial{
  margin-top: 50px;
}
.testimonial .col-4{
  text-align: center;
  padding: 40px 20px;
  box-shadow:0 0 5px 0 ;
 cursor: pointer;
 transition: 0.5s;
}
.testimonial .col-4 img{
  width:50px ;
  border-radius: 50%;
  margin-top: 50px;
}
.testimonial .col-4 h3{
  font-weight: bolder;
  font-size: 2rem;
}
.testimonial .col-4:hover{
  transform: translateY(-10px);
}
.testimonial .col-4 p{
  font-size: 15px;
  margin: 20px 0;
  color: #777;
}
/* -----brands-------- */
.brands{
  margin:50px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0%);
}
/* --------footer---- */
footer{
 background: #3d3d3d;
 color: #fff;
 font-size: 12px;
 padding: 30px 0 20px;
}
footer p{
  color: #fff;
}
.foter-col-1, .foter-col-2, .foter-col-3, .foter-col-4{
min-width: 250px;
 margin-bottom: 30px;
}
.foter-col-1{
  flex-basis: 30%;
}
.foter-col-2{
  flex: 1;
  text-align: center;
}
.foter-col-2 img{
  width: 150px;
   margin-bottom: 15px;
}
.foter-col-3, .foter-col-4{
  flex-basis: 15%;
  text-align: left;
}
footer h3{
  color: #fff;
  margin-bottom: 20px;
}
ul{
  list-style-type: none;
}
.foter-col-3 ul li a{
  text-decoration: none;
  color: white;
}
.foter-col-4 ul{
  display: flex;

}
.fab{
  color: #0778E9;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 70px;
}
#Copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

/* all products---- */
.row-2{
  justify-content: space-between;
  margin:100px auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}
#page-btn{
  margin: 0 auto 80px;
}
#page-btn span{
  display: inline-block;
  border: 1px solid tomato;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  line-height: 30px;
}
#page-btn span:hover{
  background: tomato;
}



/* ------cart items ------- */
.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
}
th{
  text-align: left;
  padding: 7px;
  color: #fff;
  background: #ff523b;
  font-weight: 100;
}
td{
  padding: 20px 5px;
}
td input{
  height: 40px;
  width: 40px;
  padding: 0px 5px;
}
td a{
  color: #ff523b;
  text-decoration: none;
  font-size: 12px;
}
td img{
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

#total-price {
  display: flex;
  justify-content: flex-end;
}
#total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 300px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
/* -------account page------ */
.account-page{
  padding:50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
  background:#fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow:0 0 20px 0px rgba(0,0,0,0.2);
  overflow: hidden;
}

.form-container span{
   display: inline-block;
   font-weight: bolder;
   color: #555;
   cursor: pointer;
   width: 100px;

}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 150px;
  transition: transform 1s ;
}
form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;

}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
}
form input[type="text"], input[type="password"], input[type="email"]
{
  outline: none;
}
#LoginForm{
  left: -300px;
}

#RegisTerForm{
left: 0;

}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 5px;
  /* translate: translateX(200px); */
  transition: transform 1s ;
}

























































/* -------media query for manu---- */
@media only screen and (max-width:768px){
  nav ul {
    position: absolute;
    top: 50px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: white;
  }
  #menu-icon{
   display: block;
  } 
} 
@media only screen and (max-width:600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100% ;
  }
 
  .foter-col-1, .foter-col-2, .foter-col-3, .foter-col-4{
    text-align: center;
  }
  .cart-info p{
    display: none;
  }
}